<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp6.Properties.Settings.ilkinConnectionString"
            connectionString="Data Source=10.123.132.64;Initial Catalog=ilkin;Persist Security Info=True;User ID=sa;Password=Qwerty1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>